//importing components
@import 'variables';

body{
    background-color: black;
}

//using variables
h1 {
    color: $primary;
}
a{
    color: $secondary;
}
button {
    color: error;
}